body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

nav {
  width: 200px;
  height: 100vh;
  background-color: #eee;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
  padding: 10px;
}

main {
  width: 100%;
  background-color: #e5e4e2;
}

form {
  width: 550px;
  height: 350px;
  padding: 5px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

ul>li {
  padding: 6px;
}

.close-button {
  border: none;
  float: right;
  background-color: #fff;
}


.task-row {
  padding: 4px;
  display: flex;
}

.section {
  padding: 4px;
  width: 300px;
  display: inline-block;
}

.header {
  font-weight: bold;
  padding: 4px;
  width: 300px;
  display: inline-block;
}

.border:hover {
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: grey 0px 1px 3px 5px;
  background-color: #fffa;
}

.border {
  padding: 10px;
  margin: 0.5em 0;
  background-color: #e5e4e2;

  border: 1px solid #000000;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: black;

  box-shadow: rgb(225 225 225) 0px 2px 8px 0px;
}

.status {
  display: inline-block;
  box-sizing: border-box;
  max-width: 300px;
  padding: 7px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  text-align: center;
  vertical-align: middle;
}


.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;

  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}


.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);

  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;

  top: 21%;

}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;

  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.extra-margin {
  margin: 3px;
}

.show-description {
  margin: 3px;
  padding: 3px;
}

.popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;

}

.add-team {
  padding: 5px;
  margin: 5px;
}

.add-task {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.options {
  padding: 0px;
  margin: 0px;
  height: 50px;
  display: inline-block;
}

.button {
  padding: 10px;
  border: 1px solid black;
  margin: 0.5em 0;
  background-color: #e5e4e2;

  border: 1px solid #000000;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: black;

  box-shadow: rgb(225 225 225) 0px 2px 8px 0px;
}

.button:hover {
  box-shadow: grey 0px 1px 3px 5px;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}
